<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" routerLink=""><span class="fa fa-lg fa-home"></span> Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/builder"><span class="fa fa-lg fa-address-card"></span> Get Started</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/characters"><span class="fa fa-lg fa-info"></span> See Characters</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/blog"><span class="fa fa-lg fa-list"></span> Developer Blog</a></li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>