<div class="container text-container">
    <h1>Character Submission</h1>
    <h4>Check out the characters some of our fans have created!</h4>
    <div class="row">
        <div class="col-lg-4 col-sm-6 brighten">
            <a href="assets/img/takara.png" target="_blank"><img class="img-fluid img-blog-thumb" src="assets/img/takara-thumb.png" alt="Takara"></a>
        </div>
        <div class="col-lg-8 col-sm-6">
            <h4 class="blog-title">Takara</h4>
            <strong>Submitted by: Hamadyne</strong>
            <p class="blog-desc">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>    
        </div>
    </div>
    <hr class="blog-divider">
    <div class="row">
        <div class="col-lg-4 col-sm-6 brighten">
            <a href="assets/img/mitsuko.png" target="_blank"><img class="img-fluid img-blog-thumb" src="assets/img/mitsuko-thumb.png" alt="Mitsuko"></a>
        </div>
        <div class="col-lg-8 col-sm-6">
            <h4 class="blog-title">Makoto</h4>
            <strong>Submitted by: limsa_lominsa</strong>
            <p class="blog-desc">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>    
        </div>
    </div>
    <hr class="blog-divider">
    <div class="row">
        <div class="col-lg-4 col-sm-6 brighten">
            <a href="assets/img/lily.png" target="_blank"><img class="img-fluid img-blog-thumb" src="assets/img/lily-thumb.png" alt="Lily"></a>
        </div>
        <div class="col-lg-8 col-sm-6">
            <h4 class="blog-title">Lily</h4>
            <strong>Submitted by: Amehynda</strong>
            <p class="blog-desc">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>    
        </div>
    </div>
</div>
