<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-md-6">
                <h1>Character Builder</h1>
                <p>Use our tool to create a new character for your stories, games, and more!</p>
            </div>
            <div class="col-sm align-self-center">
                <img src="./assets/img/logo.png" class="img-fluid">
            </div>
        </div>
    </div>
</header>
<div class="container text-container">
    <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
    <div class="col-sm align-self-center">
      <a role="button" id="start" routerLink="/builder" class="btn btn-success btn-block text-white" >Get Started</a>
    </div>
</div>
